$default-border: 1px solid gray;
$border-radius: 5px;
$margin-top: 5px;
$list-element-background-color: #F2BD41;
$list-element-color: #1A18A1;
$react-icons-button-medium: 40px;
$react-icons-button-cursor: pointer;